/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}



.image-custom1{
    background-color: white;
}

.border-custom1{
    border: 1px solid #ccc;
    border-radius: 5px;
}



.adholder-custom1{
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: beige;
}
.adholder-custom1 div{
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #eeeed6;
}
.adholder-custom1 div img{
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: white;
}



.shopping-custom1{
    background-color: none;
}
.shopping-custom1 div{
    background-color: none;
}
.shopping-custom1 .menu{
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: beige;
}
.shopping-custom1 .jumbotron{
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: beige;
}
.shopping-custom1 div div{
    
    background-color: beige;
}

.shopping-custom1 div div div{
    background-color: none;
}

.shopping-custom1 div div .col-xs-12 img{
    background-color:brown; border: 1px solid #ccc; max-width: 100%; min-height: 200px; max-height: 230px; height: 200px; display:block;
}

.shopping-custom1 div div div .col-sm-12 img{
    background-color: aqua; border: 1px solid #ccc; width: 100%; height: 15vw;
}





.productdesciption-custom1{
    background-color: none;
}

.productdesciption-custom1 .menu{
    background-color: beige;
}
.productdesciption-custom1 .jumbotron{
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: beige;
}
.productdesciption-custom1 div div{
    background-color: beige;
}

.productdesciption-custom1 div div div{
    background-color:  #eeeed6;
}




.default-style{

}

.default-style .jumbotron{

    background-color:beige;
}

.default-style .default-style-content{
    
}

